.home{
    min-height: 100vh;
  background: var(--bg-secondary);
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
}
.middle-section{
    margin-top: 75px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}